@media screen and (max-width: 990px) {
  .hero-section {
    flex-direction: column;
    padding: 0 30px;
  }
  .hamburger {
    display: block;
  }
  header {
    padding: 0 20px;
  }
  .hero-text h1 {
    font-size: 2rem;
  }
  nav {
    display: none;
  }
  .my_skills {
    gap: 20px;
    padding: 70px 20px;
    text-align: center;
  }

  .portfolio-section {
    padding: 30px;
    flex-direction: column;
  }
  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    margin: 0;
  }
}
@media screen and (max-width: 768px) {
  .Qonkar-logo img {
    width: 150px;
  }
  .typed {
    font-size: 2rem;
  }
  .swiper-container {
    display: block;
  }
  .my_work_experience {
    display: none;
  }
  .contact-me h1 {
    font-size: 2.5rem;
    font-weight: 900;
  }
  .sub_footer h1 {
    text-align: center;
  }
  .portfolio-right {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .concepts {
    width: 250px;
    margin-inline: auto;
    align-items: center;
    text-align: center;
  }
  .my-work {
    color: #000;
    padding: 0 50px;
  }

  .circle__up.button-show {
    right: 20px;
  }

  .swiper-container {
    display: block;
  }
  .my_work_experience {
    display: none;
  }
  header {
    padding: 0 20px;
  }
  .hero-text h1 {
    font-size: 2.5rem;
    padding: 5px 0;
  }
  .contact_socials {
    gap: 20px;
    flex-direction: column;
    align-items: start;
  }
  .footer-dropdown {
    display: block;
    padding: 0 10px;
  }
  .footer-wrapper {
    display: none;
  }
  figure img {
    width: 80%;
    height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 10px;
    margin-inline: auto;
  }
}
@media screen and (max-width: 450px) {
  .swiper-container {
    display: block;
  }
  .my_work_experience {
    display: none;
  }
  header {
    padding: 0 20px;
  }
  .hero-text h1 {
    font-size: 2rem;
  }

  .footer-dropdown {
    display: block;
    padding: 0 10px;
  }
  .footer-wrapper {
    display: none;
  }
}
