@font-face {
  font-family: popins;
  src: url(fonts/PPMori-Regular.otf);
}

:root {
  --primary: #17a2b8;
  --secondary: #fff;
  --def-transition-duration: 0.3s;
}
.container {
  max-width: 1220px;
  margin-inline: auto;
  padding: 30px 0;
}
.none {
  display: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: popins;
  text-transform: capitalize;
  text-decoration: none;
  letter-spacing: 1px;
  list-style: none;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > .hamburger {
  transition: 0.4s ease;
}

#menu__toggle:checked ~ .menu-box {
  right: 0;
  visibility: visible;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.hamburger {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.hamburger {
  display: none;
}

.menu-box {
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;
  width: 300px;
  height: 100%;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: start;
  list-style: none;
  padding: 60px 20px;
  background-color: #17a2b8;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.menu__item {
  display: block;
  color: #000;
  font-size: 2rem;
  padding: 1rem 0;
  border-width: 100%;
}

.circle__up {
  position: fixed;
  right: -60px;
  bottom: 30px;
  z-index: 350;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.17);
  color: var(--primary);
  font-size: 16px;
  opacity: 0;
  pointer-events: none;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform: translateX(100%);
  transition: all ease 0.7s;
}
.circle__up.button-show {
  opacity: 1;
  right: 60px;
  transform: none;
  pointer-events: visible;
}
button {
  --primary-color: #17a2b8;
  --secondary-color: #fff;
  --hover-color: #111;
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  box-sizing: border-box;
  border: 0;
  border-radius: 20px;
  color: var(--secondary-color);
  padding: 1em 1.8em;
  background: var(--primary-color);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
}

button .arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

button .arrow {
  margin-top: 1px;
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

button .arrow::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
}

button:hover {
  background-color: var(--hover-color);
}

button:hover .arrow {
  background: var(--secondary-color);
}

button:hover .arrow:before {
  right: 0;
}
.display-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
header {
  height: 120px;
  width: 100%;
}

.Qonkar-logo img {
  width: 200px;
}
.Qonkar-header {
  padding: 10px 0;
  justify-content: space-between;
}

ul {
  gap: 30px;
  color: #000;
  font-size: 1.5rem;
}

.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 40px;
}
.hero-text h1 {
  font-size: 3.5rem;
  color: #000;
}

.left-section {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 30px;
  padding: 2rem 0;
  flex-basis: 60%;
}
.right-section {
  flex-basis: 60%;
}
.right-section img {
  width: 100%;
}
.typed {
  font-size: 3rem;
  text-transform: uppercase;
  color: var(--primary);
}

.social-links .social {
  padding: 0 10px;
  font-size: 1.4rem;
  gap: 20px;
}
.social:hover {
  opacity: 0.8;
}

.swiper-container {
  width: 100%;
  display: none;
  overflow: hidden;
  position: relative;
}
.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.swiper-button-next,
.swiper-button-prev {
  color: #000;
}

.my_work_experience {
  gap: 50px;
  flex-wrap: wrap;
  padding: 100px 0;
}
:root {
  --swiper-navigation-size: 20px;
}
.my-work {
  color: #000;
}
.my-work h3 {
  font-size: 0.9rem;
  padding: 10px 0;
}
.my-work h2 {
  font-size: 1.5rem;
  padding: 10px 0;
}
.my-work h1 {
  font-size: 1.5rem;
}
.concepts {
  color: #000;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 200px;
}
.concepts img {
  width: 100%;
  border-radius: 16px;
}
.price {
  font-variant-numeric: lining-nums proportional-nums;
  line-height: 120%;
  font-size: 1.5625rem;
}

p.small {
  color: #e54949;
  font-size: 0.8125rem;
  font-weight: 700;
  text-transform: uppercase;
}

figure h3 + p {
  font-size: 0.8125rem;
}
figure,
figure {
  color: #fff;
}
figure footer p.small {
  font-weight: 400;
  margin-bottom: 0;
}

figure img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 10px;
}

.gallery {
  display: grid;
  list-style-type: none;
  padding: 0rem;
  margin: 0 4rem;
  grid-gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 30rem;
  grid-auto-flow: dense;
}

figure {
  margin: 0;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

figcaption {
  position: absolute;
  inset: 0;
  pointer-events: none;
  padding: 4rem 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 2rem;
}

figcaption main {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 2rem;
}

figure p {
  margin: 0;
}

figure footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

figure footer img {
  width: auto;
}

figure main,
figure footer {
  opacity: 0;
}

figure:hover figcaption {
  background: linear-gradient(180deg, rgba(21, 22, 24, 0.24) 0%, #151618 100%);
}

figure:hover main,
figure:hover footer {
  opacity: 1;
}
figcaption::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, rgba(21, 22, 24, 0.24) 0%, #151618 100%);
  z-index: 1;
  opacity: 0;
  transition-property: opacity;
}

.figure:hover figcaption::before {
  opacity: 1;
}
figure a img {
  transform: scale(1);
  transition-property: transform;
}
figcaption::before,
figure main,
figure footer,
figure img {
  transition-duration: var(--def-transition-duration);
  transition-timing-function: ease-in-out;
}
figure:hover a img {
  transform: scale(1.9);
  filter: blur(5px);
  overflow: hidden;
}
figure main {
  transform: translate3d(0, -6rem, 0);
  transition-property: opacity, transform;
}
figure footer {
  transform: translate3d(0, 6rem, 0);
  transition-property: opacity, transform;
}
figure:hover main,
figure:hover footer {
  transform: translate3d(0, 0, 0);
}
figure footer img {
  transform: translate3d(-3rem, 0, 0) rotate(360deg);
  transition-delay: var(--def-transition-duration);
  opacity: 0;
}
figure:hover footer img {
  transform: translate3d(0, 0, 0);
  opacity: 1;
  overflow: hidden;
}
.scroller {
  overflow: hidden;
}
.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  width: 300px;
  height: 300px;
}

.portfolio-wrapper {
  -webkit-transition-timing-function: linear !important;
  -o-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
  padding: 100px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
.our-image {
  width: 280px;
  height: 280px;
}
.our-image img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
footer {
  padding: 30px 10px;
}
.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 20px;
}
.bottom-container-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 10px 50px;
}
.bottom-container-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 30px;
}
.bottom-container-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 40px;
}

.footer-wrapper {
  border-top: 1px solid #e4e5e7;
  border-bottom: 1px solid #e4e5e7;
  position: relative;
  padding: 50px 50px;
}
.bottom-container {
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 50px;
}
.footer-container {
  display: -ms-grid;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.col1-footer-grid {
  display: -ms-grid;
  display: grid;
  max-width: 250px;
  grid-auto-rows: 40px;
}
.col1-footer-grid a {
  color: black;
}
.footer-heading {
  font-size: 1.2rem;
  color: black;
}
.text-trunc {
  color: #b5b6ba;
  font-size: 1.4rem;
}
.social-label {
  display: none;
}
.footer-dropdown {
  display: none;
}
.accordian-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 50px;
  padding: 30px 20px;
}
.social-link:hover {
  fill: var(--primary) !important;
}

.footer__content {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  margin: 20px 0;
}
.footer__content p {
  font-size: 1rem;
}
.foot__label {
  font-size: 1.5rem;
  letter-spacing: -1px;
}
.accordion-dropdown .dropdown {
  position: relative;
  padding-top: 20px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.25);
}
.dropdown input:checked ~ .foot__label {
  color: var(--primary);
}
.dropdown input:checked ~ .footer__content {
  max-height: 15rem;
}
input[type="checkbox"] {
  display: none;
}
.dropdown input:checked ~ svg {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.dropdown .arrow-icon {
  position: absolute;
  right: 20px;
  top: 28px;
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.col1-footer-grid a:hover {
  color: var(--primary);
}
